.button {
    display: inline-block;
    background-color: #40b575;
    color: #EEE;
    border: 0;
    padding: 0.25em 0.5em;
    border-bottom: 3px #288c6e solid;
    border-radius: 3px;
    font-family: sans-serif;
    font-size: 1em;
}

label.button {
    padding: 0.3em 0.675em; /* Yay, label weirdness! */
}

.button:hover {
    background-color: #48cb83;
    color: #FFF;
}

.button:active {
    background-color: #4dda8d;
    color: #FFF;
    border-bottom: none;
    position: relative;
    top: 3px;
}

.player-widget {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.song-name {
    display: block;
    text-align: center;
    border: 3px #CCC solid;
    border-radius: 3px;
    background-color: #F3F3F3;
    color: #000;
    padding: 1em;
    margin-bottom: 0.5em;
    font-family: monospace;
}